body {
  background-image: url("224299.jpg");
  background-size: cover;
  color: azure !important;
}

.topNavBar {
  width: 100%;
  position: fixed;
  top: -1.2rem;
  left: 0;
  z-index: 999;
  width: 100%;
}

.searchDiv {
  p {
    width: 100%;
  }
}

.heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading1 > div {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

body {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  background-color: #d00c18;

  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}

.c-checkbox {
  display: none;

  &:checked + .c-formContainer {
    .c-form {
      width: 20rem;
    }

    .c-form__toggle {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.7);
    }

    .c-form__input,
    .c-form__buttonLabel {
      transition: 0.2s 0.1s;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }
  }

  &:not(:checked),
  &:checked {
    + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
      content: "Thank You! \1F60A";
    }
  }

  &:not(:checked) + .c-formContainer {
    .c-form__input:required:valid ~ .c-form__toggle {
      pointer-events: none;
      cursor: default;
    }
  }
}

.c-formContainer,
.c-form,
.c-form__toggle {
  width: 10rem;
  height: 3rem;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: white;
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(black, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: #d00c18;
  top: 0;
  cursor: pointer;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    font-size: 1rem;
    content: attr(data-title);
  }
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1rem;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: your-pink;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;

  &::placeholder {
    color: currentColor;
  }

  &:required:valid {
    color: #d00c18;

    + .c-form__buttonLabel {
      color: white;

      &::before {
        pointer-events: initial;
      }
    }
  }
}

.c-form__buttonLabel {
  color: cornflower-lilac;
  height: 100%;
  width: auto;

  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    cursor: pointer;
  }
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #d00c18;
}
