name: Code Coverage

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: root
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=5

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11"  # Use desired Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov genbadge defusedxml

    - name: Set up Database Schema
      run: |
        mysql -h 127.0.0.1 --port 3306 -u root -proot < test/test_init.sql

    - name: Run tests and generate coverage report
      run: |
        pytest --cov-report=xml:reports/coverage/coverage.xml --cov=. test.py

    - name: Generate Coverage Badge
      run: |
        mkdir -p reports/badge  # Ensure directory for badge output
        genbadge coverage -i reports/coverage/coverage.xml -o reports/badge/coverage-badge.svg

    - name: Commit and push coverage report and badge
      if: success()
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add reports/coverage/coverage.xml reports/badge/coverage-badge.svg
        git pull --rebase
        git commit -m "Update coverage report and badge"
        git push origin main

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}